:root{
    --color-table-head: #d9d9d9;
    --color-card: #EFEFEF;
    --color-success: #00FF00;
    --color-primary: #007BFF;
    --color-danger: #FE2020;
    --color-warn: #FFD700;
    --color-purple: #DBBFFF;/*mkt*/
    --color-orange: #FCDFBD;/*public*/
    --color-cyan: #E6F7FF;/*app, smart*/
    --color-green: #E5F5E4;/*test*/
    --height-header: 46px;
    --height-footer: 30px;

}
*{margin: 0;padding: 0;box-sizing: border-box;}

html{
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
/* display flex */
.f-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li{list-style: none;}

/* table */
table{ width: 100%;
border-radius: 5px;
border-collapse: collapse;overflow: hidden;}
th, td{
    text-align: left;
    border-bottom: 1px solid var(--color-table-head);padding: 5px;
}

th{background-color: var(--color-table-head); }
/* button */
button, .btn, a.btn{
    outline: none;
    border: none;    
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
}
a.btn{display: inline-block;}
.btn__success{background-color: var(--color-success);}
.btn__primary{background-color: var(--color-primary);}
.btn__warn{background-color: var(--color-warn);}
.btn__danger{background-color: var(--color-danger);}
.btn__disable{background-color: var(--color-table-head);}

button:disabled, .btn:disabled{pointer-events: none;}
button:hover, .btn:hover{
    opacity: 0.8;
    cursor: pointer;
}
.btn__disable{opacity: 0.5;cursor: default;pointer-events: none !important;}

.btn__outline{     
    background-color: transparent;
    border: 1px solid currentColor;
}
.btn__outline.success{color: var(--color-success);}
.btn__outline.primary{color: var(--color-primary);}
.btn__outline.warn{color: var(--color-warn);}
.btn__outline.danger{color: var(--color-danger);}