* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 20px;
}
.logo {
    width: 100px; 
    height: 100px;
    background: #e7a7e1;
    color: #ec871a; 
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.container {
    text-align: center;
    margin-top: 50px;
}
h1 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

button {
    background-color: #6a84e8;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 40%;
    height: 55px;
}

button:hover {
    background-color: #cc7700;
}

.support {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.support a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
}

.support a:hover {
    text-decoration: underline;
}
footer{
    text-align: center;
    font-size:20px;
    margin-top:9em;
    padding: 15px 0px;
    border-top: 2px solid #ccc;
}
@media screen and (max-width: 768px) {
    header {
        padding: 60px 20px;
    }
    
    h1 {
        font-size: 28px;
    }
    
    p {
        font-size: 14px;
    }
    
    button {
        font-size: 16px;
        height: 50px;
        width: 50%;
        border-radius: 10px;
    }
    
    footer {
        font-size: 16px;
        margin-top: 18em;
    }
}
